@import "mixin";
@import "variable";

#blog_section {
    padding-bottom: 4rem;
    padding-top: 4rem;
  
    .card {
      @include borderShadow;
    }
  }

  @media (max-width:767px){
    .card-title{
      padding-left: 2rem !important;
    }
    .read-btn{
      margin-left: 2rem !important;
    }
  }