@import "mixin";
@import "variable";

#client_review {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: url(/image/bgp1.png) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 4;

  &::after {
    position: absolute;
    content: " ";
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .client-card {
    
    
    .client-top{
      clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 75% 90%, 75% 100%, 51% 90%, 0 90%);
      
      @include borderShadow;
    }
    .client-bottom{
     
     
    }
  }
}

@media (max-width: 767px) {
  .client-cards-group {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem !important;

    .c-card {
      width: 100% !important;

      .client-card {
        margin-bottom: 1rem;
      }
    }
  }
}
